html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0d0d0d, #1a1a1a);

    display: flex;
    justify-content: center;  /* centraliza horizontal */
    align-items: center;      /* centraliza vertical */

    min-height: 100vh;
}

/* CONTAINER CENTRALIZADO */
.container {
    width: 100%;
    max-width: 900px;

    background: #161616;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.05);
}

/* TÍTULO MENOR */
h1 {
    text-align: center;
    color: #f4f6fb;
    font-size: 30px;
    margin: 8px 0 12px 0;
}

/* FILTRO COMPACTO */
.top-bar {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

select, button {
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.05);
    background: #333;
    color: #eaeaea;
    font-size: 12px;
}

/* CARDS MAIS PEQUENOS */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-bottom: 10px;
}

/* CARD ULTRA COMPACTO */
.card {
    background: #333;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.card h3 {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}

.card p {
  font-size: 20px;
  font-weight: bold;
  margin: 6px 0 0 0;
}

/* BASE DO CARD (IMPORTANTE) */
.card {
  border-left: 5px solid transparent;
}

/* CORES POR TIPO */
#CardEntrada {
  border-left-color: #2ecc71;
}

#CardSaida {
  border-left-color: #e74c3c;
}

#CardSaldo {
  border-left-color: #1e90ff;
}

/* CORES DO TEXTO (SÓ O VALOR) */
#CardEntrada p {
  color: #2ecc71;
}

#CardSaida p {
  color: #e74c3c;
}

#CardSaldo p {
  color: #1e90ff;
}

/* GRÁFICO MAIS APERTADO */
.chart-box {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

/* RESPONSIVO FORTE */
@media (max-width: 700px) {
    .cards {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 16px;
    }

    select, button {
        width: 100%;
    }
}


/* botão hambúrguer agora dentro do menu */
.hamburger {
  background: #3a2727;

  color: white;

  border: none;

  border-radius: 6px;

  padding: 10px 12px;

  cursor: pointer;

  font-size: 18px;
}

#btnMenu {
  position: fixed;

  top: 12px;
  left: 12px;

  width: auto !important;

  padding: 10px 14px;

  background: #3a2727;
}

#btnMenu:hover {
  background: #0056b3;
}

/* sidebar */
.sidebar {
  position: fixed;

  top: 0;
  left: -280px;

  width: 250px;
  height: 100vh;

  background: #111;

  padding: 20px;

  transition: .3s;

  z-index: 999;
}

/* abre menu */
.sidebar.active {
  left: 0;
}

/* título do menu */
.menu-header {
  margin-bottom: 10px;
}

/* header do menu */
.menu-header {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 20px;
}

/* título */
.menu-header h3 {
  margin: 0;
  font-size: 22px;
  color: white;
}

/* links */
.sidebar button {
  width: 100%;

  margin-bottom: 10px;

  background: #333;

  color: white;

  border: none;

  border-radius: 6px;

  padding: 12px;

  cursor: pointer;
  
}
#btnMenuin {
  background: #3a2727;
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 6px;
  width: 18%;
}
#btnMenuin:hover {
  background: #0056b3;
}

.sidebar button:hover {
  background: #0056b3;
}

#confirmarSenha{
  width: 75%;
}
#togglePassword {
  width: 15%;
  background: none;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: -16%;
  margin-left: auto;
}
#modalCadUser{
  display:none;
  position:fixed;
}
input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #333;
  color: #eaeaea;
}
button:hover {
  background: #0056b3;
}
button {
  background: #333;
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 10px;
}
